/* Connect Button */
.connect-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
  }
  
  .connect-button:hover {
    background-color: var(--color-black);
  }
  
  .connect-button a {
    text-decoration: none;
    padding: 15px 20px;
  }
  
  #connect-btn-icon {
    margin-right: 10px;
  }

  @media (max-width: 768px) {
    #connect-btn-label {
      display: none;
    }
    #connect-btn-icon {
      margin: 0;
    }
  }