/* Hero Section*/
#hero {
    padding: 7% 7.5%;
  }
  
  .hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  
  .hero-content {
    width: 70%;
  }
  
  .hero-container h1 {
    font-size: 48px;
    line-height: 1.4;
    margin-bottom: 30px;
  }
  
  .hero-container p {
    font-size: 24px;
  }
  
  #hero-img {
    height: 300px;
  }
  
  #hero-img:hover {
    transform: scale(1.05);
    transition: all 2s ease-out;
  }
  
  .icons {
    display: flex;
    gap: 40px;
    margin: 30px 0;
  }
  
  #icon {
    height: 50px;
  }

  @media (max-width: 991px) {
    #hero {
    padding: 50px 0%;
    text-align: center;
   }
  .hero-container {
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 30px;
   }
   .hero-container h1 {
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 25px;
  }
  .hero-container {
    font-size: 16px;
  }
  #hero-img{
    height: 225px;
  }
  }
  @media (max-width: 576px) {
    .hero-content {
      width: 95%;
      margin: auto;
    }
    .hero-container h1 {
      font-size: 30px;
      margin-bottom: 20px;
    }
    #hero-img {
    height: 200px;
    margin: 0;
  }
  }