.icons img:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

.card{
    transition: transform 0.3s ease-in-out;
  }
  
.card:hover {
    transform: translateY(-12px);
  }
  .gallery_btn{
    border: none;
    height: 30%;
  }