/* Navbar */
.navbar {
    padding: 20px 7.5%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: var(--color-white);
    opacity: 0.95;
    align-items: center;
    background: transparent; 
    transition: background 0.3s;
  }
  
  .navbar-brand {
    font-size: 25px;
  }
  
  .navbar-nav {
    gap: 15px;
  }
  
  .nav-btn {
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
  }
  
  .nav-btn:hover {
    background-color: var(--color-black);
    cursor: pointer;
  }
  
  #events-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5% 7.5%;
  }
  @media (max-width: 991px) {
    .navbar {
      padding: 20px 3%;
    }
  
    .navbar-nav {
      gap: 5px;
    }
    .nav-link {
      padding: 7px;
    }
  
    .nav-btn {
      padding: 10px 20px;
      margin-left: -10px;
      margin: 10px 0;
      text-decoration: none;
    }
  }

  @media (max-width: 768px) {
    nav.desk-view-tabs {
      display: none;
    }
    #event-section {
    padding: 10% 0;
  } 
  }

  @media (max-width: 576px) {
    .navbar-brand {
      font-size: 20px;
    }
    #events-section {
    padding: 10% 20px;
  }
  }
.navbar.sticky {
  background: #fff; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
