@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 15px);
  }

  100% {
    transform: translate(0, -0px);
  }
}
nav .slider {
    position: absolute;
    height: 100%;
    width: calc(100% / 6);
    left: 0;
    bottom: 0;
    z-index: 0;
    border-radius: 50px;
    background: var(--color-primary-blue);
    transition: all 0.3s ease;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  .team-quotes{
    font-size: large;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
  }
  
  #Core:checked ~ nav .Core {
    color: #fff;
  }
  
  #AI-ML:checked ~ nav .slider {
    left: calc(100% / 6);
  }
  #AI-ML:checked ~ nav .AI-ML {
    color: #fff;
  }
  
  #Development:checked ~ nav .slider {
    left: calc((100% / 6) * 2);
  }
  #Development:checked ~ nav .Development {
    color: #fff;
  }
  
  #Cloud:checked ~ nav .slider {
    left: calc((100% / 6) * 3);
  }
  #Cloud:checked ~ nav .Cloud {
    color: #fff;
  }
  
  #Corporate:checked ~ nav .slider {
    left: calc((100% / 6) * 4);
  }
  #Corporate:checked ~ nav .Corporate {
    color: #fff;
  }
  
  #Management:checked ~ nav .slider {
    left: calc((100% / 6) * 5);
  }
  #Management:checked ~ nav .Management {
    color: #fff;
  }
  
  #team .content {
    display: none;
    color: #000;
  }
  
  .dropdown {
    display: none;
  }
  
  .dropdown .btn {
    width: 200px;
    padding: 10px 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: auto;
  }
  
  .dropdown .btn:hover {
    background-color: #2d4b7b;
    color: var(--color-white);
  }
  
  .dropdown-item {
    padding: 7px 15px;
  }
  
  .dropdown-item:hover {
    background-color: var(--color-primary-blue);
    color: var(--color-white);
    cursor: pointer;
  }
  
  .cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    margin: 65px auto 0;
  }
  
  .member-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
  
  .card {
    width: 250px;
    height: 325px;
    border: 2px solid var(--color-primary-blue);
    box-shadow: 4px 4px var(--color-primary-blue);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .card-img {
    border-radius: 50%;
    margin-bottom: 20px;
    height: 120px;
  }
  
  .card-title {
    text-align: center;
    color: var(--font-color);
    font-size: 20px;
    font-weight: 600;
    font-family: var(--header-font);
  }
  
  .card-title span {
    font-weight: 400;
    font-size: 15px;
    color: var(--color-black);
  }
  
  .card-socials {
    /* display: flex;
      height: 0;
      opacity: 0; */
    margin-top: 20px;
    gap: 20px;
    transition: 0.5s;
  }
  
  .card-socials-btn {
    width: 35px;
    height: 35px;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  
  .card-socials-btn svg {
    width: 100%;
    height: 100%;
    fill: var(--color-primary-blue);
  }
  
  /* 
  .card:hover>.card-socials {
      opacity: 1;
      height: 35px;
  } */
  .card-socials-btn:hover {
    transform: translateY(-5px);
    transition: all 0.15s;
  }

  @media (max-width: 768px) {
    .dropdown {
      display: block;
      text-align: center;
    }
  }


  @media (max-width: 576px) { 
    .cards-container {
      gap: 30px;
      margin: 45px auto 0;
    }
  }