/* 
#core:checked ~ nav label.core,
#ai:checked ~ nav label.ai,
#development:checked ~ nav label.development,
#cloud:checked ~ nav label.cloud,
#corporate:checked ~ nav label.corporate,
#management:checked ~ nav label.management {
  color: #fff;
} */

@media (max-width: 991px) {
  #header {
    height: auto;
  }
  .event-swiper {
    width: 100%;
  }
  .event-description {
    width: 85%;
  } 
}