/* 
#core:checked ~ nav label.core,
#ai:checked ~ nav label.ai,
#development:checked ~ nav label.development,
#cloud:checked ~ nav label.cloud,
#corporate:checked ~ nav label.corporate,
#management:checked ~ nav label.management {
  color: #fff;
} */

@media (max-width: 991px) {
  #header {
    height: auto;
  }

  

  

  
  #about,
  #gallery-section {
    padding: 50px 0%;
    text-align: center;
  }

  
  .about-container {
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 30px;
  }

  

  
  .about-container p {
    font-size: 16px;
  }

  #about-img {
    height: 225px;
  }

  .about-content {
    width: 100%;
  }

  .about-container p {
    margin: 0 20px;
    text-align: justify;
  }

  .event-swiper {
    width: 100%;
  }
  .event-description {
    width: 85%;
  }

  .icons {
    margin: 30px auto;
    width: 70%;
    flex-wrap: wrap;
    justify-content: center;
  }

  #icon {
    height: 30px;
  }
}

@media (max-width: 768px) {
  #connect-btn-label {
    display: none;
  }

  #connect-btn-icon {
    margin: 0;
  }

  #team-section,
  #event-section,
  #testimonials-section {
    padding: 10% 0;
  }

  nav.desk-view-tabs {
    display: none;
  }

  .dropdown {
    display: block;
    text-align: center;
  }
}

@media (max-width: 576px) {
  

  

  

  #about-img {
    height: 200px;
    margin: 0;
  }

  .about-container h2 {
    font-size: 25px;
  }

  .cards-container {
    gap: 30px;
    margin: 45px auto 0;
  }

  #team-section h1 {
    font-size: 30px;
  }

  #app {
    font-size: 16px;
  }

  .member-cards {
    gap: 30px;
  }

  a.btn {
    font-size: 16px;
    margin-top: 35px;
  }

  #gallery-section,
  #events-section,
  #testimonials-section {
    padding: 10% 20px;
  }

  .gallery-container,
  .testimonial-container {
    width: 100%;
  }

  .gallery-container h1 {
    font-size: 30px;
  }

  .heading h1 {
    font-size: 30px;
  }

  .heading p {
    font-size: 18px;
  }

#footer{
  padding: 75px 20px;
}

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
  }

  .social-icons {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 0;
  }

  .social-id {
    flex-direction: row;
    gap: 10px;
  }

  .social-links{
    align-items: center;
  }

  .effect::after {
    width: 130px;
  }

  .footer-map-container {
    align-items: center;
  }

  .footer-map-container p{
    text-align: center;
  }
}